.place__image {
  grid-area: image;
  width: calc(460 / 1280 * 100vw);
  max-width: 460px;
}


@media screen and (max-width: 1279px) {
  .place__image {
    width: calc(440 / 1024 * 100vw);
  }
}

@media screen and (max-width: 1023px) {
  .place__image {
    width: calc(340 / 768 * 100vw);
  }
}

@media screen and (max-width: 767px) {
  .place__image {
    width: 100%;
  }
}
