.cover__subtitle {
  margin: 32px 0 0 0;
  text-align: center;
  max-width: 360px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  z-index: 1;
}


@media screen and (max-width: 767px) {
  .cover__subtitle {
    margin: calc(16px + (32 - 16) * ((100vw - 320px) / (768 - 320))) 16px 0 16px;
    font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (768 - 320)));
    line-height: calc(16px + (22 - 16) * ((100vw - 320px) / (768 - 320)));
  }
}
