@media screen and (min-width: 1280px) {
  .lead__title {
    width: 73.17%;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    color: #FFFFFF;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
  }
}

@media screen and (max-width: 1280px) {
  .lead__title {
    width: 73.17%;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    color: #FFFFFF;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
  }
}
