.lead__title {
  width: 720px;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  color: #FFFFFF;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}


@media screen and (max-width: 767px) {
  .lead__title {
    width: calc(288px + (720 - 288) * ((100vw - 320px) / (768 - 320)));
    font-size: calc(40px + (96 - 40) * ((100vw - 320px) / (768 - 320)));
    line-height: calc(44px + (100 - 44) * ((100vw - 320px) / (768 - 320)));
  }
}
