.intro__item-container {
  width: 690px;
  margin: 0;
}

@media screen and (max-width: 1023px) {
  .intro__item-container {
    width: 720px;
  }
}

@media screen and (max-width: 767px) {
  .intro__item-container {
    max-width: 720px;
    width: 100%;
  }
}

