.intro {
  display: flex;
  margin: 92px auto 0 auto;
  flex-direction: column;
  align-content: flex-start;
  width: calc(984 / 1280 * 100vw);
  max-width: 984px;
}

@media screen and (max-width: 1279px) {
  .intro {
    width: calc(928 / 1024 * 100vw);
    max-width: 928px;
  }
}

@media screen and (max-width: 1023px) {
  .intro {
    width: calc(720 / 768 * 100vw);
  }
}

@media screen and (max-width: 767px) {
  .intro {
    flex-wrap: wrap;
    margin: 64px 16px 0 16px;
    width: calc(288px + (768 - 320) * ((100vw - 320px) / (768 - 320)));
  }
}
